body {
  color: #FFC100 /* amber */;

  color: #F0A202 /* marigold */;

  color: #CCA43B /* satin sheen gold */;
  color: #FFD166 /* orange yellow crayola */;
  color: #FFA400 /* orange web */;
  color: #942911 /* kobe */;

  color: #F9564F /* orange red crayola */;
  color: hsl(2, 93%, 64%);

  color: #BB0A21 /* firebrick */;
  color: #A30015 /* ruby red */;
  color: #D52941 /* rusty red */;
  color: #3BC14A /* dark pastel green */;

  color: #70877F /* xanadu */;

  color: #252627 /* eerie black */;
  color: #3D3A4B /* dark liver */;
  color: #212227 /* raisin black */;



/* App global main background */
  color: #fff8ef;
  color: whitesmoke;

/* main color */
  color: #1DB954; /* green spotify */
  color: #168d40;
  color: #168d3a;
  color: #F9564F; /* very nice red orange CURRENT */
  color: #F55943; /* orange jow */
  color: #f44e25;
  color: #ffc30b; /* current yellow mustard */
  color: #e6ac00;

/* second color */
  color: #116e32;
  color: #940a05;
  color: #70877F; /* light grey */

/* third color */
  color: #212227; /* raisin black */;
}